---
import SheetXPBox from "../../components/Box/Box_SheetXP.astro";
import RepeatingSection from "../../components/Roll20/Roll20_RepeatingSection.astro";
import UpgradeRow from "../../components/Row/Row_CheckboxWithLabel.astro";
import NoteField from "../../components/Roll20/Roll20_NoteField.astro"
import BoxRetinues from "../../components/Box/Box_Retinues.astro";

const {id, classes} = Astro.props;
---
<div id={id} class={classes}>
    <SheetXPBox 
        title="Coterie xp" 
        titleTranslation="CoterieXP"
        attr="housexp" 
        boxCount={10}>
    </SheetXPBox>
    <div class="marg-top bordered">
        <div class="border-bottom skillname b upcase pad-left">&nbsp;<span data-i18n="UniqueUpgrades">Unique upgrades</span></div>
        <RepeatingSection classes="grid gtw-1 gaph-4 repblock"  attr="houseup1">
            <UpgradeRow 
                nameAttr="houseup1name"
                valueAttr="houseup1value"
                tooltipAttr="houseup1desc">
            </UpgradeRow>
        </RepeatingSection>
    </div>
    <div class="marg-top bordered">
        <div class="border-bottom skillname b upcase pad-left"><span data-i18n="UniversalUpgrades">Universal upgrades</span></div>
        <div class="i b marg-top capitalise">&nbsp;<span data-i18n="Quality">Quality</span>:</div>
        <RepeatingSection classes="grid gtw-1 gaph-4 repcol2"  attr="houseup2">
            <UpgradeRow 
                nameAttr="houseup2name"
                valueAttr="houseup2value"
                tooltipAttr="houseup2desc">
            </UpgradeRow>
        </RepeatingSection>
        <div class="i b marg-top capitalise">&nbsp;<span data-i18n="Training"></span>:</div>
        <RepeatingSection classes="grid gtw-1 gaph-4 repcol3" attr="houseup3">
            <UpgradeRow 
                nameAttr="houseup3name"
                valueAttr="houseup3value"
                tooltipAttr="houseup3desc">
            </UpgradeRow>
        </RepeatingSection>
        <div class="i b marg-top capitalise">&nbsp;<span data-i18n="Others">Others</span>:</div>
        <RepeatingSection classes="grid gtw-1 gaph-4 repblock" attr="houseup4">
            <UpgradeRow 
                nameAttr="houseup4name"
                valueAttr="houseup4value"
                tooltipAttr="houseup4desc">
            </UpgradeRow>
        </RepeatingSection>
    </div>
    <div class="marg-top bordered">
        <div class="border-bottom skillname b upcase pad-left"><span data-i18n="RetinuesAndColleagues">Retinues &amp; Colleagues</span></div>
        <RepeatingSection classes="repblock" attr="retinues">
            <BoxRetinues></BoxRetinues>
        </RepeatingSection>
    </div>
</div>