---
import DynamicClocks from "../../components/Clocks/Clocks_DynamicContainer.astro";

import PlaybookTitleBox from "../../components/Box/Box_TitleAndSubtitle.astro";
import SpecialAbilities from "../../components/Box/Box_SpecialAbilities.astro";
import TeamworkPlanningLoadRulesBox from "../../components/Box/Box_TeamworkPlanningLoadRules.astro";
import XPTriggerBox from "../../components/Box/Box_XPTrigger.astro";

const { id, classes } = Astro.props;
---
<div id={id} class={classes}>
    <div class="border-bold-top border-bold-left border-bold-right border-bold-bottom bg-white">
        <PlaybookTitleBox id="pcabilitypanel-titlebox" titleAttr="playbookName" subtitleAttr="playbookDesc"></PlaybookTitleBox>
        <SpecialAbilities 
            id="pcabilitypanel-specfeatbox"
            classes=""
            title="Special Armor"
            enabledAttr="armourAbilityActive" 
            descAttr="armourAbilityDesc" 
            repeatAttr="armourAbility">
        </SpecialAbilities>
        <SpecialAbilities 
            id="pcabilitypanel-specabilitybox" 
            classes=""
            title="Special Abilities"
            enabledAttr="playbookAbilityActive" 
            nameAttr="playbookAbilityName" 
            descAttr="playbookAbilityDesc" 
            repeatAttr="playbookAbility">
        </SpecialAbilities>
        <XPTriggerBox id="pcabilitypanel-xptriggers"></XPTriggerBox>
    </div>
    <TeamworkPlanningLoadRulesBox id="pcabilitypanel-rulerefs" classes="marg-top pad-left"></TeamworkPlanningLoadRulesBox>
    <div class="bordered marg-top gw-1 grid gtw-1">
        <div class="b bg-med text-center border-bottom gw-1 upcase">
            Clocks
        </div>
        <DynamicClocks id="pcability-clocks"  repeatAttr="pcclocks" sizeAttr="pcclocksize" progressAttr="pcclockprogress" descAttr="pcclockdesc"></DynamicClocks>
    </div>
    
</div>