---
import NoteField from "../../components/Roll20/Roll20_NoteField.astro"
import DynamicClocks from "../../components/Clocks/Clocks_DynamicContainer.astro";

import TitleBox from "../../components/Box/Box_TitleAndSubtitle.astro";
import SpecialAbilities from "../../components/Box/Box_SpecialAbilities.astro";
import BoxHouseXPTrigger from "../../components/Box/Box_HouseXPTrigger.astro";

const {id, classes} = Astro.props;
---
<div id={id} class={classes}>
    <div class="border-bold-top border-bold-left border-bold-right border-bold-bottom bg-white">
        <TitleBox titleAttr="housename" subtitleAttr="housedesc"></TitleBox>
        <SpecialAbilities 
            classes=""
            title="Special Feature"
            titleTranslation="SpecialFeature"
            enabledAttr="housefeatureenabled" 
            nameAttr="housefeaturename" 
            descAttr="housefeaturedes" 
            repeatAttr="housefeatures"
            hasName={true}>
        </SpecialAbilities>
        <SpecialAbilities 
            classes=""
            title="Special Abilities"
            titleTranslation="SpecialAbilities"
            enabledAttr="houseAbilityActive" 
            nameAttr="houseAbilityName" 
            descAttr="houseAbilityDesc" 
            repeatAttr="houseAbility"
            hasName={true}>
        </SpecialAbilities>
        <BoxHouseXPTrigger
            attrPrefix="housexp"
            repeatAttr="housexptrigger">
        </BoxHouseXPTrigger>
    </div>
    <NoteField attr="housenotes" label="Notes" labelTranslation="Notes" classes="marg-top"></NoteField>
    <div class="bordered marg-top gw-1 grid gtw-1">
        <div class="b bg-med text-center border-bottom gw-1 upcase" data-i18n="Clocks"></div>
        <DynamicClocks repeatAttr="houseclocks" sizeAttr="houseclocksize" progressAttr="houseclockprogress" descAttr="houseclockdesc"></DynamicClocks>
    </div>
</div>