---
import "../styles/Roll20/app.css";
import "../styles/Roll20/base.css";
import "../styles/Roll20/roll20.custom.css";
---

<html>
	<head>
	</head>
	<body>
		<div class="charsheet">
			<slot />
		</div>
	</body>
</html>