---
const version = "1.0.3";
---
<div class="page sheet-footer">
    <div class="grid gtw-2">
        <div class="flex-left">
            <span class="i capitalise" data-i18n="CourtOfBlades"></span>&nbsp;
            <span class="downcase" data-i18n="IsPublishedBy"></span>&nbsp;
            <span class="b capitalise" data-i18n="ACoupleOfDrakes"></span>&nbsp;(www.acoupleofdrakes.com).
        </div>
        <div class="flex-right b"><span data-i18n="Version"></span>&nbsp;{version}</div>
    </div>
</div>