---
const {id, classes, armourAttr, specAttr} = Astro.props;
---
<div id={id} class={`grid gtw-2 b ${classes}`}>
    <div class="bg-black text-center gw-2 marg-bottom">ARMOR USES</div>
    <div class="text-center">ARMOR</div>
    <div><input type="checkbox" name={`attr_${armourAttr}`} class="shape-diamond-med checked-red" /></div>
    <div class="text-center">SPECIAL</div>
    <input type="checkbox" name={`attr_${specAttr}`} class="shape-diamond-med checked-red" />
</div>