---
import RepeatingSection from "../../../components/RepeatingSection.astro";

const {id, classes, repAttr} = Astro.props;
---
<RepeatingSection attr={repAttr} id={id} classes={classes}>
    <div class="grid gtw-7 gapw-4">
        <div class="gw-7 bg-black b upcase text-center">Contacts</div>
        <div class="gw-1 grid gtw-2 align-center pad-left">
            <input type="checkbox" name={`$attr_contact-friend`} value="1" class="shape-arrowup checked-red unchecked-light" />
            <input type="checkbox" name={`$attr_contact-rival`} value="1" class="shape-arrowdown checked-red unchecked-light checked-red unchecked-light" />
        </div>
        <input type="text" name={`$attr_contact-name`} class="gw-2 b border-bottom" />
        <textarea type="text" name={`$attr_contact-desc`} class="gw-4 i border-bottom" />
    </div>
</RepeatingSection>