---
const {id, classes} = Astro.props;
---
<div id={id} class={`grid gtw-1 ${classes}`}>
    <div class="bg-black b upcase pad-left">Gather Information</div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">How can I hurt them?</span></div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">What do they want most?</span></div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">Who's most dangerous here?</span></div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">What do they intend to do?</span></div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">How can I get them to [X]?</span></div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">Are they telling the truth?</span></div>
    <div class="pad-left"><span class="shape-diamond-small checked-red marg-right"></span><span class="i pad-left">What's really going on here?</span></div>
</div>