---
const logoImage = "https://raw.githubusercontent.com/TTiatia/CourtOfBladesSheets/main/Astro/public/Sword-Title.png";
const {id} = Astro.props;
---
<div id={id} class="titlebox">
        <img src={logoImage} />
</div>