---
import HiddenSetting from "../components/HiddenSetting.astro";

import Page from "../layouts/Page.astro";
import PCDetailPanel from "../layouts/PC/DetailPanel.astro";
import PCAbilityPanel from "../layouts/PC/AbilityPanel.astro";
import PCStatPanel from "../layouts/PC/StatPanel.astro";
import PageController from "../components/PageController.astro";
---

<div class="court-of-blades">
    <HiddenSetting id="page-selector" name="currentPage" defaultValue={0}></HiddenSetting>
    <PageController name="currentPage"></PageController>
    <Page id="page-pc" pageNum={0}>
        <PCDetailPanel panelType="panel-left"></PCDetailPanel>
        <PCAbilityPanel panelType="panel-centre"></PCAbilityPanel>
        <PCStatPanel panelType="panel-right"></PCStatPanel>
    </Page>
    <Page id="page-house" pageNum={1}>
    </Page>
    <Page id="page-factions" pageNum={2}>
    </Page>
    <Page id="page-gmturn" pageNum={3}>
    </Page>
</div>
