div {
    box-sizing: border-box;
}




.container {
    border: 2px solid black;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-flow: row wrap;
}

.subcontainer {
    border: 1px dashed black;
    display: block;
    padding: 4px;
}

.clock-container input[type=radio] {
    display: none;
    cursor: pointer;
    position: absolute;
}

.clock-container div {
    position: absolute;
}

.clock-container div {
    display: none;
}

.clock-container .clock-image {
    background-color: none;
    border: 3px solid black;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: absolute;
    display: block;
    margin: 8px;
    z-index: -1
}



.clock-container .clock-selector,
.clock-container .clock-image .clock-all,
.clock-container .clock-size[value="2"]~ .clock-2,
.clock-container .clock-size[value="4"]~ .clock-4,
.clock-container .clock-size[value="6"]~ .clock-6,
.clock-container .clock-size[value="8"]~ .clock-8,
.clock-container .clock-size[value="10"]~ .clock-10,
.clock-container .clock-size[value="12"]~ .clock-12 {
    display: block;
}

.clock-container .clock-size[value="2"] ~ div.clock-image,
.clock-container .clock-size[value="4"] ~ div.clock-image,
.clock-container .clock-size[value="6"] ~ div.clock-image,
.clock-container .clock-size[value="8"] ~ div.clock-image,
.clock-container .clock-size[value="10"] ~ div.clock-image,
.clock-container .clock-size[value="122"] ~ div.clock-image {
    background-color: white;
}

/* Spokes */
.clock-container div[class^="spoke"],
.clock-container div[class*=" stroke"] {
    height: 44px;
    width: 2px;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background: black;
    z-index: 1;
}

.spoke-0 {
    transform: translateX(21px);
}

.spoke-30 {
    transform: translateX(21px) rotate(30deg);
}

.spoke-36 {
    transform: translateX(21px) rotate(36deg);
}

.spoke-45 {
    transform: translateX(21px) rotate(45deg);
}

.spoke-60 {
    transform: translateX(21px) rotate(60deg);
}

.spoke-72 {
    transform: translateX(21px) rotate(72deg);
}

.spoke-90 {
    transform: translateX(21px) rotate(90deg);
}

.spoke-108 {
    transform: translateX(21px) rotate(108deg);
}

.spoke-120 {
    transform: translateX(21px) rotate(120deg);
}

.spoke-135 {
    transform: translateX(21px) rotate(135deg);
}

.spoke-144 {
    transform: translateX(21px) rotate(144deg);
}

.spoke-150 {
    transform: translateX(21px) rotate(150deg);
}


/* Inputs */
.clock-container .clock-size[value=""] {
    display: none;
}


.clock-container .clock-size[value="2"]~ input:not(.zero) {
    height: 20px;
    width: 20px;
    margin-top: 12px;
}

.clock-container .clock-size[value="2"]~ input[value="1"] {
    margin-left: 25px;
}

.clock-container .clock-size[value="2"]~ input[value="2"] {
    left: -6px;
}

.clock-container .clock-size[value="4"]~ input:not(.zero) {
    height: 20px;
    width: 20px;
}

.clock-container .clock-size[value="4"]~ input[value="1"] {
    margin-left: 20px;
}

.clock-container .clock-size[value="4"]~ input[value="2"] {
    margin: 20px 0 0 20px;
}

.clock-container .clock-size[value="4"]~ input[value="3"] {
    margin-top: 20px;
}


.clock-container .clock-size[value="6"] ~  input:not(.zero) {
    height: 17px;
    width: 12px;
}

.clock-container .clock-size[value="6"]~ input[value="1"] {
    margin-left: 21px;
    transform: rotate(30deg);
}

.clock-container .clock-size[value="6"]~ input[value="2"] {
    margin: 12px 0 0 25px;
    transform: rotate(90deg);
}

.clock-container .clock-size[value="6"]~ input[value="3"] {
    margin: 22px 0 0 21px;
    transform: rotate(150deg);
}

.clock-container .clock-size[value="6"]~ input[value="4"] {
    margin: 22px 0 0 8px;
    transform: rotate(210deg);
}

.clock-container .clock-size[value="6"]~ input[value="5"] {
    margin: 12px 0 0 1px;
    transform: rotate(270deg);
}

.clock-container .clock-size[value="6"]~  input[value="6"] {
    margin-left: 8px;
    transform: rotate(330deg);
}


.clock-container .clock-size[value="8"] ~  input:not(.zero) {
    height: 14px;
    width: 10px;
}

.clock-container .clock-size[value="8"]~ input[value="1"] {
    margin-left: 20px;
    transform: rotate(22.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="2"] {
    margin: 8px 0 0 26px;
    transform: rotate(67.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="3"] {
    margin: 18px 0 0 26px;
    transform: rotate(112.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="4"] {
    margin: 25px 0 0 20px;
    transform: rotate(157.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="5"] {
    margin: 25px 0 0 9px;
    transform: rotate(202.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="6"] {
    margin: 18px 0 0 2px;
    transform: rotate(247.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="7"] {
    margin: 8px 0 0 2px;
    transform: rotate(292.5deg);
}

.clock-container .clock-size[value="8"]~ input[value="8"] {
    margin-left: 9px;
    transform: rotate(337.5deg);
}

.clock-container .clock-size[value="10"] ~ .clock-container input:not(.zero) {
    height: 14px;
    width: 9px;
}

.clock-container .clock-size[value="10"]~ input[value="1"] {
    transform: rotate(18deg);
    margin-left: 20px;
}

.clock-container .clock-size[value="10"]~ input[value="2"] {
    transform: rotate(54deg);
    margin: 5px 0 0 27px;
}

.clock-container .clock-size[value="10"]~ input[value="3"] {
    transform: rotate(90deg);
    margin: 13px 0 0 30px;
}

.clock-container .clock-size[value="10"]~ input[value="4"] {
    transform: rotate(126deg);
    margin: 21px 0 0 27px;
}

.clock-container .clock-size[value="10"]~ input[value="5"] {
    transform: rotate(162deg);
    margin: 26px 0 0 20px;
}

.clock-container .clock-size[value="10"]~ input[value="6"] {
    transform: rotate(198deg);
    margin: 26px 0 0 12px;
}

.clock-container .clock-size[value="10"]~ input[value="7"] {
    transform: rotate(234deg);
    margin: 21px 0 0 5px;
}

.clock-container .clock-size[value="10"]~ input[value="8"] {
    transform: rotate(270deg);
    margin: 13px 0 0 1px;
}

.clock-container .clock-size[value="10"]~ input[value="9"] {
    transform: rotate(306deg);
    margin: 5px 0 0 5px;
}

.clock-container .clock-size[value="10"]~ input[value="10"] {
    transform: rotate(342deg);
    margin-left: 12px;
}

.clock-container .clock-size[value="12"]~ input:not(.zero) {
    height: 12px;
    width: 8px;
}

.clock-container .clock-size[value="12"]~ input[value="1"] {
    margin-left: 20px;
    transform: rotate(15deg);
}

.clock-container .clock-size[value="12"]~ input[value="2"] {
    margin: 4px 0 0 26px;
    transform: rotate(45deg);
}

.clock-container .clock-size[value="12"]~ input[value="3"] {
    margin: 10px 0 0 29px;
    transform: rotate(75deg);
}

.clock-container .clock-size[value="12"]~ input[value="4"] {
    margin: 18px 0 0 29px;
    transform: rotate(105deg);
}

.clock-container .clock-size[value="12"]~ input[value="5"] {
    margin: 24px 0 0 26px;
    transform: rotate(135deg);
}

.clock-container .clock-size[value="12"]~ input[value="6"] {
    margin: 28px 0 0 20px;
    transform: rotate(165deg);
}

.clock-container .clock-size[value="12"]~ input[value="7"] {
    margin: 28px 0 0 12px;
    transform: rotate(195deg);
}

.clock-container .clock-size[value="12"]~ input[value="8"] {
    margin: 24px 0 0 6px;
    transform: rotate(225deg);
}

.clock-container .clock-size[value="12"]~ input[value="9"] {
    margin: 18px 0 0 3px;
    transform: rotate(255deg);
}

.clock-container .clock-size[value="12"]~ input[value="10"] {
    margin: 10px 0 0 3px;
    transform: rotate(295deg);
}

.clock-container .clock-size[value="12"]~ input[value="11"] {
    margin: 4px 0 0 6px;
    transform: rotate(315deg);
}

.clock-container .clock-size[value="12"]~ input[value="12"] {
    margin-left: 12px;
    transform: rotate(345deg);
}