/*@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,700;1,500;1,700&display=swap');

.charsheet {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background: white;
    z-index: -13;
}

.charsheet div
{
    box-sizing: border-box;
}

.charsheet ul {
    padding: 0;
    list-style-type: none;
}

.charsheet input[type=radio],
.charsheet input[type=checkbox] {
    cursor: pointer;
}

.charsheet textarea,
.charsheet input[type=text] {
    border-color: none;
    border-style: none;
    border-width: 0;
    background-color: none;
    border-image: none;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    min-height: 1.75em;
}

input[type=text].pcdetail {
    vertical-align: bottom;
    min-height: 2em;
    font-size: 20px;
    width: 95%;
    padding-top: 8px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.paramourname {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

#pcpanel-harmbox input[type=text] {
    font-size: 20px;
    padding-left: 10px;
}

#pcpanel-harmbox {
    border-collapse: collapse;
}

.min-1 {
    min-height: 1.5em;
    min-width: 1.5em;
}

.charsheet ul {
    margin: 2px;
}

.charsheet p {
    margin: 2px;
}

.bordered {
    border: 1px solid black;
    border-collapse: collapse;
}

.bg-light {
    background-color: lightgray;
    z-index: 2;
}

.bg-med {
    background-color: #999999;
    z-index: 0;
}

.bg-black {
    background-color: black;
    color: white;
    z-index: 1;
}

.charsheet textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: vertical;
    color: black;
}

.charsheet span.label {
    vertical-align: middle;
    padding-left: 2px;
}

.logo {
    padding-top: 2em;
    font-style: italic;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    vertical-align: bottom;
}

.minw-1 {
    min-width: 1em;
}

.panel {
    margin: 4px;
    padding: 4px;
    border: 2px dashed black;
    width: 100%;
}

.skillname {
    background: #333333;
    color: lightgray;
    height: 1.5em;
    margin: 3px 0;
    font-weight: 700;
    vertical-align: middle;
    padding: 2px;
}

.heading {
    font-size: 18px;
    font-weight: 700;
}

.gcheckboxlist {
    grid-template-columns: 1.5em 1fr;
    grid-auto-flow: row;
    display: grid;
}

.titlebox-title {
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 8px 2px
}

.emphasis {
    font-weight: bold;
    font-size: 20px;
}

.titlebox-subtitle {
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.b {
    font-weight: 700;
}

.i {
    font-style: italic;
}

.maxh-1 {
    height: 1.25em;
}

.maxh-2 {
    height: 2.5em;
}

.maxh-3 {
    height: 3.75em;
}

.maxh-4 {
    height: 5em;
}

.maxh-5 {
    height: 6.5em;
}

.border-left {
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 1px;
}

.border-right {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}

.border-top {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
}

.charsheet input[type=text].border-bottom,
.border-bottom {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.stat-grid {
    grid-column-gap: 1px;
    grid-row-gap:4px;
}

/* For debugging */

.debug {
    border: 2px solid black;
    padding: 2px;
}

.debug .debug {
    border-color: #444444;
}

.debug .debug .debug {
    border-color: #888888;
}

.debug .debug .debug .debug {
    border-color: #AAAAAA;
}
/**/