.grid {
    display: grid;
    grid-auto-flow: row;
    width: auto;
    place-self: stretch stretch;
    grid-auto-rows: minmax(1em, auto);
    align-self: start;
}

.gth-1 {
    grid-template-rows: minmax(1em, auto);
}

.gth-2 {
    grid-template-rows: repeat(2, minmax(1em, auto));
}

.gth-3 {
    grid-template-rows: repeat(3, minmax(1em, auto));
}

.gth-4 {
    grid-template-rows: repeat(4, minmax(1em, auto));
}

.gth-5 {
    grid-template-rows: repeat(5, minmax(1em, auto));
}

.gth-6 {
    grid-template-rows: repeat(6, minmax(1em, auto));
}

.gtw-1 {
    grid-template-columns: minmax(1em, 1fr);
}

.gtw-2 {
    grid-template-columns: repeat(2, minmax(1em, 1fr));
}

.gtw-3 {
    grid-template-columns: repeat(3, minmax(1em, 1fr));
}

.gtw-4 {
    grid-template-columns: repeat(4, minmax(1em, 1fr));
}

.gtw-5 {
    grid-template-columns: repeat(5, minmax(1em, 1fr));
}

.gtw-6 {
    grid-template-columns: repeat(6, minmax(1em, 1fr));
}

.gtw-6 {
    grid-template-columns: repeat(6, minmax(1em, 1fr));
}

.gtw-9 {
    grid-template-columns: repeat(9, minmax(1em, 1fr));
}

.gtw-10 {
    grid-template-columns: repeat(10, minmax(1em, 1fr));
}

.gtw-11 {
    grid-template-columns: repeat(11, minmax(1em, 1fr));
}

.gtw-12 {
    grid-template-columns: repeat(12, minmax(1em, 1fr));
}

.gtw-13 {
    grid-template-columns: repeat(13, minmax(1em, 1fr));
}

.gtw-14 {
    grid-template-columns: repeat(14, minmax(1em, 1fr));
}

.gtw-15 {
    grid-template-columns: repeat(15, minmax(1em, 1fr));
}

.gtw-16 {
    grid-template-columns: repeat(16, minmax(1em, 1fr));
}

.gtw-18 {
    grid-template-columns: repeat(18, minmax(1em, 1fr));
}

.gw-1 {
    grid-column: span 1;
}

.gw-2 {
    grid-column: span 2;
}

.gw-3 {
    grid-column: span 3;
}

.gw-4 {
    grid-column: span 4;
}

.gw-5 {
    grid-column: span 5;
}

.gw-6 {
    grid-column: span 6;
}

.gw-7 {
    grid-column: span 7;
}

.gw-8 {
    grid-column: span 8;
}

.gw-9 {
    grid-column: span 9;
}

.gw-10 {
    grid-column: span 10;
}

.gw-11 {
    grid-column: span 11;
}

.gw-12 {
    grid-column: span 12;
}

.gw-13 {
    grid-column: span 13;
}

.gw-14 {
    grid-column: span 14;
}

.gw-15 {
    grid-column: span 15;
}

.gw-16 {
    grid-column: span 16;
}

.gh-1 {
    grid-row: span 1;
}

.gh-2 {
    grid-row: span 2;
}

.gh-3 {
    grid-row: span 3;
}

.gh-4 {
    grid-row: span 4;
}

.gh-5 {
    grid-row: span 5;
}

.gh-6 {
    grid-row: span 6;
}

.gh-7 {
    grid-row: span 7;
}

.gh-8 {
    grid-row: span 8;
}

.gh-9 {
    grid-row: span 9;
}

.gapr-2 {
    grid-row-gap: 2px
}

.gapr-4 {
    grid-row-gap: 4px
}

.gapr-6 {
    grid-row-gap: 6px
}

.gapc-2 {
    grid-column-gap: 2px
}

.gapc-4 {
    grid-column-gap: 4px
}

.gapc-6 {
    grid-column-gap: 6px
}
