input[type=checkbox],
input[type=radio],
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input.shape-dot-black {
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
}


input.shape-dot-black:checked {
    background-color: black;
}

input.shape-downarrow-red {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid lightgray;
}

input.shape-downarrow-red:checked {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid red;
}

input.shape-uparrow-red {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid lightgray;
}

input.shape-uparrow-red:checked {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid red;
}

input[class*="shape-square-"] {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    width: 16px;
    height: 16px;
}

input.shape-square-black:checked {
    background-color: black;
}

input.shape-square-red:checked {
    background-color: red;
}

input.shape-diamond-red {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
}

input.shape-diamond-red:checked {
    background-color: red;
}

.shape-smalldiamond-red {
    display: inline-block;
    position: relative;
    top: -2px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    transform: rotate(45deg);
    background-color: white;
}

input.shape-smalldiamond-red:checked {
    border-color: red;
}


.shape-heart {
    background-color: gray;
    display: inline-block;
    height: 18px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 18px;
}

.shape-heart:before,
.shape-heart:after {
    content: "";
    background-color: gray;
    border-radius: 50%;
    height: 18px;
    position: absolute;
    width: 18px;
}

.shape-heart:before {
    top: -9px;
    left: 0;
}

.shape-heart:after {
    left: 9px;
    top: 0;
}

.shape-heart:checked {
    background-color: red;
}

.shape-heart:checked:before,
.shape-heart:checked:after {
    content: "";
    background-color: red;
}
