input[type=checkbox],
input[type=radio],
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input.shape-dot-black {
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
}


input.shape-dot-black:checked {
    background-color: black;
}

input.shape-downarrow-red {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid lightgray;
}

input.shape-downarrow-red:checked {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid red;
}

input.shape-uparrow-red {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid lightgray;
}

input.shape-uparrow-red:checked {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid red;
}


.shape-heart {
    background-color: gray;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
}

.shape-heart:before,
.shape-heart:after {
    content: "";
    background-color: gray;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.shape-heart:before {
    top: -5px;
    left: 0;
}

.shape-heart:after {
    left: 5px;
    top: 0;
}

.shape-heart:checked {
    background-color: red;
}

.shape-heart:checked:before,
.shape-heart:checked:after {
    content: "";
    background-color: red;
}

.shape-link-left::after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 20px;
    height: 5px;
    left: -20px;
    top: 4px;
    background-color: black;
}