---
const {name} = Astro.props;
const pages = [
    {name: "Character", id: 0},
    {name: "Coterie", id: 1},
    {name: "Faction List", id: 2},
    {name: "GM Turn", id: 3},
    {name: "Sheet Settings", id: 4},
];
const items = ["Dog", "Cat", "Platypus"];
---

<select name={`attr_setting_${name}`}>
    {pages.map((item) => (
      <>
        <option value={item.id}>{item.name}</option>
      </>
    ))}
</select>