---
import DynamicClocks from "./Abilities/DynamicClocks.astro";
import PlaybookTitleBox from "./Abilities/PlaybookTitleBox.astro";
import SpecialAbilities from "./Abilities/SpecialAbilities.astro";
import SpecialArmourAbilities from "./Abilities/SpecialArmourAbilities.astro";
import TeamworkPlanningLoadRulesBox from "./Abilities/TeamworkPlanningLoadRulesBox.astro";
import XPTriggerBox from "./Abilities/XPTriggerBox.astro";

const { panelType } = Astro.props;
---
<div id="pcabilitypanel" class={`${panelType}`}>
    <div class="border-bold-top border-bold-left border-bold-right border-bold-bottom bg-white">
        <PlaybookTitleBox id="pcabilitypanel-titlebox" titleAttr="playbookName" subtitleAttr="playbookDesc"></PlaybookTitleBox>
        <SpecialArmourAbilities id="pcabilitypanel-specfeatbox" enabledAttr="armourAbilityActive" descAttr="armourAbilityDesc" repeatAttr="armourAbility"></SpecialArmourAbilities>
        <SpecialAbilities id="pcabilitypanel-specabilitybox" enabledAttr="playbookAbilityActive" nameAttr="myTestVar" descAttr="playbookAbilityDesc" repeatAttr="playbookAbility"></SpecialAbilities>
        <XPTriggerBox id="pcabilitypanel-xptriggers"></XPTriggerBox>
    </div>
    <TeamworkPlanningLoadRulesBox id="pcabilitypanel-rulerefs" classes="marg-top"></TeamworkPlanningLoadRulesBox>
    <DynamicClocks id="pcability-clocks" classes="marg-top" repeatAttr="pcclocks" sizeAttr="pcclocksize" progressAttr="pcclockprogress" descAttr="pcclockdesc"></DynamicClocks>
</div>