---
const {
    id,
    title,
    titleTranslation,
    defaultOption,
    visibility,
    attr1,
    attr2
} = Astro.props;

var conditionalVisibility = visibility != null && visibility != undefined && visibility != "";

---

<div id={id || ""} class={`flex-left${conditionalVisibility ? " visibility-" + visibility : ""}`}>
    &nbsp;<label class="capitalise"><span data-i18n={titleTranslation || ""}></span>{title}:</label>
    <input type="text" name={`attr_${attr1}`} class="customsetting marg-left border-bottom" value={defaultOption || ""}/>
    <input type="text" name={`attr_${attr2}`} class="customsetting marg-left border-bottom" value={defaultOption || ""}/>
</div>