---
---
<rolltemplate is:raw class="sheet-rolltemplate-cob-fortune">
    <div class="">
        <div class="name">{{name}}&nbsp;<span data-i18n="Rolls"></span></div>
        <div class="stat" data-i18n="{{stat}}"></div>
    </div>
    <div class="lower">
        <img class="mask" src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Court%20Of%20Blades/Images/Mask.png"/>
        <div class="dice">
            {{^zerodice}}
                <div class="zerodice3">
                    <span  data-i18n="Dice"></span>
                </div>
                <div>{{dice}}</div>
                {{/zerodice}}
            {{#zerodice}}
                <div class="zerodice3" data-i18n="ZeroDice"></div>
                <div class="zerodice1">{{zerodice}}</div>
                <div class="zerodice2" data-i18n="ZeroDiceDescription"></div>
            {{/zerodice}}
        </div>
    </div>
</rolltemplate>