/* ||
    Classes for the dynamic clocks
*/

.charsheet .court-of-blades .page {
    .flex-clocks {
        border: 2px solid black;
        width: auto;
        display: flex;
        flex-flow: row wrap;
    }
    .clock-subcontainer {
        border: 1px dashed black;
        padding: 4px;
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: 55px 95px;
        z-index: 0;
        .clock-label {
            width: 100%;
            height: 100%;
            font-size: 14px;
            text-align: center;
            vertical-align: bottom;
            border: none;
            overflow-y: auto;
            word-wrap: break-word;
            resize: none;
        }
    }
    .clock-container {
        padding: 2px;
        margin: 2px;
        min-height: 50px;
        min-width: 50px;
        box-sizing: border-box;
        position: relative;
        justify-self: center;
        z-index: 0;
        div {
            display: none;
        }
        input[type=radio] {
            display: none;
            cursor: pointer;
        }
        .clock-image {
            background-color: none;
            border: 3px solid black;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            display: block;
            position: absolute;
            z-index: -1
        }
    }
}