.charsheet .court-of-blades .page {
    [class^="flex-"],
    [class*=" flex-"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .flex-vert {
        flex-direction: column;
    }
    .flex-left {
        justify-content: flex-start;
    }
    .flex-right {
        justify-content: flex-end;
    }
    .flex-center {
        justify-content: center;
    }
    .flex-vert-center {
        align-items: center;
    }
    .flex-vert-bottom {
        align-items: flex-end;
    }
    .flex-spaced {
        justify-content: space-between;
        align-content: space-between;
    }
    .flex-grow {
        flex-grow: 4;
    }
}