/* ||
  Various classes used for formatting
*/

.charsheet .court-of-blades .page {
    .ability-label {
        font-weight: bold;
        text-transform: uppercase;
    }
    .round-borders {
        border-radius: 1em;
    }
    .round-borders-top {
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
    }
    .round-borders-bottom {
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    .xp-bullet {
        margin-top: 8px;
        margin-left: 5px;
    }
    .font-med {
        font-size: 18px;
        line-height: 20px;
    }
    input[type=text].mylabel,
    textarea.mylabel {
        font-size: 14px;
    }
    textarea.mylabel {
        margin-top: 2px;
    }
    span.mylabel {
        vertical-align: middle;
        padding-left: 2px;
    }
    .paramour-name {
        height: 16px;
        align-self: end;
        font-size: 14px;
        line-height: 16px;
        border-bottom: 1px solid black;
    }
    .min-h {
        min-height: 2em;
    }
    .titlebox {
        z-index: 1;
        img {
            width: 400px;
            z-index: 3;
        }
    }
    .upcase {
        text-transform: uppercase;
    }
    .downcase {
        text-transform: lowercase;
    }
    .capitalise {
        text-transform: capitalize;
    }
    .bordered {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .border-bold-left {
        border-left: solid 3px black;
    }
    .border-bold-top {
        border-top: solid 3px black;
    }
    .border-bold-right {
        border-right: solid 3px black;
    }
    .border-bold-bottom {
        border-bottom: solid 3px black;
    }
    .bg-light {
        background-color: lightgray;
        z-index: 2;
    }
    .bg-med {
        background-color: #999999;
        z-index: 0;
    }
    .bg-black {
        background-color: black;
        color: white;
        z-index: 1;
    }
    .bg-white {
        background-color: white;
        color: black;
    }
    .notes {
        height: 100%;
    }
    .titlebox-subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
        text-align: center;
    }
    .border-left {
        border-left-style: solid;
        border-left-color: black;
        border-left-width: 1px;
    }
    .border-right {
        border-right-style: solid;
        border-right-color: black;
        border-right-width: 1px;
    }
    .border-top {
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 1px;
    }
    input[type=text].border-bottom,
    .border-bottom {
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
    }
    .emphasis {
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
    }
    .skillname {
        background: #333333;
        color: lightgray;
        font-weight: 700;
        vertical-align: middle;
    }
    .heading {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
    }
    .logo-title {
        left: 40px;
        max-height: 50px;
        z-index: 3;
    }
    .titlebox-title {
        font-size: 48px;
        line-height: 61px;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        padding: 8px 2px
    }
    .full-width {
        width: 100%;
    }
    .paramourname {
        font-size: 20px;
        line-height: 22px;
        font-style: italic;
        font-weight: bold;
    }
    .pcdetail {
        vertical-align: bottom;
        background: none;
        min-height: 2em;
        font-size: 20px;
        line-height: 22px;
        width: 100%;
        padding-top: 8px;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
    }
    .stat-grid {
        grid-column-gap: 1px;
        grid-row-gap: 4px;
    }
    .row-cb-holder {
        margin-top: 1px;
    }
    .xptriggers input {
        width: 100%;
    }
    .item-boxes {
        display: none;
        align-items: center;
        input {
            display: none;
        }
    }
    .item-show-size[value="0"],
    .item-show-style[value="0"] {
        &~input,
        &~.item-boxes {
            display: none;
        }
        &~.item-style-selector,
        &~.item-size-selector {
            display: flex;
        }
    }
    .item-show-size:not([value="0"])+.item-show-style:not([value="0"]) {
        &~.item-name,
        &~.item-boxes {
            display: flex;
        }
        &~.item-style-selector,
        &~.item-size-selector {
            display: none;
        }
    }
    .item-list .item-show-size[value="1"]~.item-boxes input:nth-child(1) {
        display: block;
    }
    .item-list .item-show-size[value="2"]~.item-boxes input:nth-child(1),
    .item-list .item-show-size[value="2"]~.item-boxes input:nth-child(2) {
        display: block;
    }
    .item-list .item-show-size[value="3"]~.item-boxes input {
        display: block;
    }
    .item-list .item-show-style[value*="b"]~.item-name {
        font-weight: bold;
    }
    .item-list .item-show-style[value*="i"]~.item-name {
        font-style: italic;
    }
    .factionnotesheader {
        margin-top: 50px;
        span {
            min-height: 10em;
        }
    }
    .majorfactionlist input[type="text"] {
        padding-left: 12px;
    }
}