/* ||
  Disables Roll20's styling where necessary
*/

.charsheet .court-of-blades .page {
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: black;
    z-index: -13;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 115px, transparent 115px), url("https://raw.githubusercontent.com/TTiatia/CourtOfBladesSheets/main/Astro/public/bg-web.png");
    background-repeat: repeat;
    *,
    div {
        box-sizing: border-box;
    }
    button {
        padding: 2px;
        font-size: 12px;
        margin: 0px;
        border: none;
        color: black;
        &.button-action,
        &.button-attr {
            appearance: none;
            text-shadow: none;
            background: none;
            box-shadow: none;
        }
        &.button-attr {
            color: lightgray;
        }
    }
    button[type="roll"]::after,
    button[type="roll"]::before {
        content: none;
    }
    .itemcontrol {
        z-index: 2;
        .repcontrol_move {
            z-index: 5;
        }
    }
    .repblock .repcontainer {
        display: block;
    }
    .repcol2 .repcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }
    .repcol3 .repcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
    }
    .repcontainer {
        display: flex;
    }
    .repcontrol {
        padding: 3px;
    }
    .item-list,
    .contact-list,
    .ability-list,
    .xp-list {
        .repcontainer {
            flex-direction: column;
        }
    }
    ul {
        padding: 0;
        margin: 2px;
        list-style-type: none;
    }
    fieldset,
    p,
    select,
    label,
    textarea,
    input {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        border-color: none;
        border-style: none;
        border-width: 0;
        border: none;
        border-radius: 0;
        background: none;
        border-image: none;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        font-family: 'EB Garamond', serif;
        color: black;
    }
    p,
    label {
        width: auto;
    }
    img {
        width: min-content;
        max-width: min-content;
    }
    input:not([type=text]) {
        appearance: none;
        outline: none;
    }
    p {
        margin: 2px;
    }
    textarea {
        width: 100%;
        height: 100%;
        border: none;
        resize: vertical;
        color: black;
    }
    button.customsetting {
        margin: 2px 0px;
    }
    .b {
        font-weight: 700;
    }
    .i {
        font-style: italic;
    }
    select.customsetting {
        width: max-content;
    }
    input.customsetting {
        width: 10em;
    }
    input.attribute-for-label {
        display: inline;
        width: max-content;
    }
}