.charsheet .court-of-blades {
    min-width: 475+375+190+4+12px;
    max-width: 475+375+190+4+12px;
    width: fit-content;
    [class^="panel-"],
    [class*=" panel-"] {
        display: inline-block;
    }
    .panel-left {
        width: 475px;
        min-width: 475px;
    }
    .panel-centre {
        width: 375px;
        min-width: 375px;
        margin-left: 2px;
        margin-right: 10px;
    }
    .panel-right {
        max-width: 190*1.5px;
        min-width: 190px;
    }
    .page {
        display: none;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        padding: 6px 4px 6px 4px;
        border: 2px solid #333333;
    }
    #page-selector[value="0"]~#page-pc,
    #page-selector[value="1"]~#page-house,
    #page-selector[value="2"]~#page-factions,
    #page-selector[value="3"]~#page-gmturn,
    #page-selector[value="4"]~#page-settings {
        display: flex;
    }
}