.charsheet .court-of-blades {
    [class^="panel-"],
    [class*=" panel-"] {
        margin: 4px;
        padding: 4px;
        border: 2px dashed black;
        display: block;
    }
    .panel-left {
        width: 475px;
    }
    .panel-centre {
        width: 300px;
    }
    .panel-right {
        width: 150px;
    }
    .page {
        display: none;
        border: 2px dotted darkblue;
    }
    #page-selector[value="0"]~#page-pc,
    #page-selector[value="1"]~#page-house,
    #page-selector[value="2"]~#page-factions,
    #page-selector[value="3"]~#page-gmturn {
        display: block;
    }
}