.sheet-rolltemplate-cob-fortune {
    background-image: url("https://raw.githubusercontent.com/TTiatia/CourtOfBladesSheets/main/Astro/public/FortuneBlank.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
}

.sheet-rolltemplate-cob-action {
    background-image: url("https://raw.githubusercontent.com/TTiatia/CourtOfBladesSheets/main/Astro/public/bg-web.png");
}

.sheet-rolltemplate-cob-action,
.sheet-rolltemplate-cob-fortune {
    height: max-content;
    font-family: 'EB Garamond', serif;
    color: black;
    min-height: 205px;
    max-height: 205px;
    min-width: 243px;
    display: block;
    .sheet-template-container {
        height: 205px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
    .sheet-name {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    .sheet-stat {
        font-size: 26px;
        padding-bottom: 6px;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: bottom;
    }
    .sheet-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .sheet-effect,
        .sheet-position {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: auto;
            font-weight: bold;
            div:first-child {
                text-transform: uppercase;
                font-size: 18px;
            }
            div:last-child {
                text-transform: capitalize;
                font-size: 16px;
            }
        }
    }
    .sheet-sword {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        display: block;
        position: absolute;
        right: 16px;
        bottom: 52px;
        width: 300px;
        min-width: 300px;
    }
    .sheet-upper {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 8px;
        height: 50px;
        border-bottom: 3px black solid;
        &::after {
            width: 200px;
            height: 3px;
            display: block;
            background-color: black;
        }
    }
    .sheet-lower {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 24px 8px 8px 8px;
        z-index: 10;
        .inlinerollresult {
            font-size: 26px;
            font-family: 'EB Garamond', serif;
            background: none;
            border: none;
        }
    }
}