/* ||
  Classes for css-only tooltips.
    The element with the .tooltip-custom class is the container.
    The element with the .tooltip-custom-text class is the tooltip itself, and must be a child of the container.
*/

.charsheet .court-of-blades {
    .tooltip-custom {
        position: relative;
        display: inline-block;
        opacity: 100%;
        z-index: auto;
    }
    .tooltip-custom .tooltip-custom-text {
        visibility: hidden;
        background-color: black;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        position: absolute;
        font-weight: normal;
        top: 95%;
        left: 0;
        z-index: 6;
    }
    .tooltip-custom:hover .tooltip-custom-text {
        visibility: visible;
        transition: visibility 0s linear 2s;
    }
    textarea.tooltip-custom-text,
    .tooltip-custom-text textarea {
        height: max-content;
        width: max-content;
        color: #fff;
    }
}