/* ||
  Classes for css-only tooltips.
    The element with the .tooltip-custom class is the container.
    The element with the .tooltip-custom-text class is the tooltip itself, and must be a child of the container.
*/

.charsheet .court-of-blades {
    .tooltip-custom {
        display: inline-block;
        opacity: 100%;
        z-index: auto;
    }
    .tooltip-custom-text {
        visibility: hidden;
        background-color: black;
        color: #fff;
        min-width: 10em;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        position: absolute;
        font-weight: normal;
        font-style: normal;
        z-index: 6;
        transition: visibility 0s linear 2s;
    }
    .tooltip-expand {
        position: absolute;
        span {
            visibility: hidden;
            white-space: pre-wrap;
            display: block;
        }
        textarea {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            margin: 0;
            overflow: hidden;
            resize: none;
            height: 100%;
            width: 100%;
            display: block;
            box-sizing: border-box;
            border-radius: 0;
            box-shadow: none;
            color: inherit;
            font: inherit;
        }
    }
    .tooltip-custom:hover .tooltip-custom-text,
    .tooltip-custom:hover+.tooltip-custom-text,
    .tooltip-custom-text:hover {
        visibility: visible;
        transition: visibility 0s linear 0.75s;
    }
}