---
const {id, classes} = Astro.props;
---

<div id={id} class={`grid gtw-9 ${classes}`}>
    <div class="gw-9 emphasis upcase" data-i18n="BonusDice">Bonus dice</div>
    <div class="text-center vert-middle emphasis gw-1 bg-black flex-vert-center flex-center"><div>&#43;</div></div>
    <div class="bg-light gw-8 grid gtw-1 gth-3 pad-left">
        <div><span class="b upcase" data-i18n="PushYourself">Push yourself</span>&nbsp;(<span data-i18n="Take2Stress">Take 2 stress</span>)</div>
        <div>-<span class="upcase" data-i18n="Or">OR</span>-</div>
        <div><span data-i18n="TakeA">Take a</span>&nbsp;<span class="upcase b" data-i18n="LadysFavor">Lady's favor</span></div>
    </div>
</div>