---
import RepeatingSection from "../Roll20/Roll20_RepeatingSection.astro";

const {id, classes, repAttr} = Astro.props;
---

<div class={`grid gtw-1 contact-list ${classes}`}>
    <div class="bg-black b upcase text-center" data-i18n="Contacts">Contacts</div>
    <RepeatingSection attr={repAttr} id={id}>
        <div class="grid gtw-7 gaph-4 gapw-2">
            <div class="gw-1 grid gtw-2 align-center pad-left">
                <input type="checkbox" name={`attr_contactfriend`} value="1" class="shape-arrowup checked-red unchecked-light" />
                <input type="checkbox" name={`attr_contactrival`} value="1" class="shape-arrowdown checked-red unchecked-light checked-red unchecked-light" />
            </div>
            <input type="text" name={`attr_contactname`} class="gw-2 b border-bottom" data-i18n-placeholder="ContactName"/>
            <input type="text" name={`attr_contactdesc`} class="gw-4 i border-bottom" data-i18n-placeholder="ContactDescription"/>
        </div>
    </RepeatingSection>
</div>
