---
const {id, classes, attrName} = Astro.props;
---
<div id={id} class={`bg-med text-left flex-spaced pad-left pad-right pad-top ${classes}`}>
    <div class="b upcase flex-vert-center flex-center">Load</div>
    <div class="flex-vert flex-vert-center flex-center">
        <input type="checkbox" name={`attr_${attrName}`} value="1" class="shape-diamond-med unchecked-light checked-red vert-middle" />
        <div class=""><i>Discrete</i> 1-3</div>
    </div>
    <div class="flex-vert flex-vert-center flex-center">
        <input type="checkbox" name={`attr_${attrName}`} value="2" class="shape-diamond-med unchecked-light checked-red vert-middle" />
        <div class=""><i>Loaded</i> 3-6</div>
    </div>
</div>