---
const logoImage = "https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Court%20Of%20Blades/Images/Sword-Title.png";
const {id} = Astro.props;
---
<div class="titlebox">
        <img src={logoImage} />
</div>